// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// Brand colors
$yellow-brand: #FFE53E;
$yellow-brand-light: #FFEF85;
$dark-brand: #2D2D2D;
