.nav-tabs .nav-link.active {
  background-color: $yellow-brand-light;
  color: $dark-brand;
  border-color: $yellow-brand-light $yellow-brand-light transparent;
}

.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  background-color: $yellow-brand-light; // Ensure hover and focus states are also styled
  color: $dark-brand;
}

.title-appointments {
  margin-top: 100px;
}
