#users-show {
  height: 100vh;

  .profile-image {
    object-fit: cover;
    width: 400px;
    height: 300px;
  }

  .text-gray {
    color: $mid-gray;
  }

  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      margin: 0;
    }

    span.code-solo {
      font-size: 1.5em;
    }

    p {
      margin: 20px 0;
    }
  }

  .back-button {
    background-color: $dark-brand;
    font-family: $body-font;
    color: white;
    text-decoration: none;
  }

  .confirm-button {
    background-color: #2d2d2d;
    color: white;
    font-size: 16px;
    width: 260px;
    margin-top: 40px;
    border: none;
    border-radius: 30px;
    padding: 1px 20px;
  }

  .time-slot-button {
    height: 60px;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-brand;
    color: white;
    border-radius: 50px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
    }
  }

  .time-slot-button-disabled {
    background-color: #f2f2f2;
    width: 130px;
    height: 130px;
    box-shadow: none;
    color: #959595;

    &:hover {
      cursor: not-allowed;
      background-color: #f2f2f2;
    }
  }

  .active-btn {
    background-color: $dark-brand;
    color: white;
    transform: translateY(-3px);
  }
}

  /* Responsive adjustments */
  @media (max-width: 480px) {
    .row {
      flex-direction: column;
    }
    .yellow-container,
    .white-container {
      margin: 20px;
    }
    .headline button, .white-container button {
      float: none;
      display: block;
      margin: 30px auto 0 auto;
    }
  }
