<div class="row">
  <div class="col-6 ">
    <p>search</p>
    <h1>Annemarie</h1>
    <h2>Annemarie</h2>
    <h3>Annemarie</h3>
    <h4>Annemarie</h4>
  </div>

  <div class="col-6">
    <p>hello world</p>
  </div>
</div>
