<div class="modal fade" id="confirmation-modal" tabindex="-1" aria-labelledby="largeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="largeModalLabel">Appointement Overview</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="d-flex flex-column fs-6 gap-2 justify-content-evenly align-items-center py-3">
          <%= image_tag(@user.avatar, class:"modal-avatar") %>
          <strong data-booking-selector-target="dateInput"></strong>
          <span data-booking-selector-target="startInput"></span>
          <span data-booking-selector-target="endInput"></span>
        </div>




      </div>
    </div>
  </div>
</div>
