
<div class="custom-margin-top">

<%# weekdays row ------------------------------------- %>

  <div class="weekdays-row">
    <div class="button-day">
      <span class="button-day-text"><strong>Monday</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

    <div class="button-day">
      <span class="button-day-text"><strong>Tuesday</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

    <div class="button-day">
      <span class="button-day-text"><strong>Wednesday</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

    <div class="button-day">
      <span class="button-day-text"><strong>Thursday</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

    <div class="button-day">
      <span class="button-day-text"><strong>Friday</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

    <div class="button-day">
      <span class="button-day-text"><strong>Saturday</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

    <div class="button-day">
      <span class="button-day-text"><strong>Sunday</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

  </div>



    <div class="section-container">


      <div class="custom-availability-table">

        <div class="custom-availability-header">
          <div class="custom-availability-cell">
            <strong>start time</strong>
          </div>

          <div class="custom-availability-cell">
            <strong>end time</strong>
          </div>

          <div class="custom-availability-cell">
            <strong>Edit or delete</strong>
          </div>
        </div>

          <div class="custom-availability-row">
            <div class="custom-availability-cell"><p>start time</p></div>
            <div class="custom-availability-cell"><p>end time</p></div>
            <div class="custom-availability-cell custom-icons">
              <a href="#" class="custom-button-icon">
                <i class="fas fa-edit"></i>
              </a>
              <a href="#" data-method="delete" data-confirm="Are you sure?" class=" custom-button-icon">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>

      </div>
    </div>
  </div>


</div>
