<div class="availability-container">

  <p class= "availability-header">Create a new timeslot</p>


  <div class="all-hexagons">

    <div class="hexagon_60px">
      <span class="hexagon-text"><strong>mon</strong></span>
      <i class="fa-solid fa-circle-plus cross-icon"></i>
    </div>

    <div class="hexagon_60px">
      <span class="hexagon-text"><strong>tue</strong></span>
    </div>

    <div class="hexagon_60px">
      <span class="hexagon-text"><strong>wed</strong></span>
    </div>

    <div class="hexagon_60px">
      <span class="hexagon-text"><strong>thu</strong></span>
    </div>

    <div class="hexagon_60px">
      <span class="hexagon-text"><strong>fri</strong></span>
    </div>

    <div class="hexagon_60px">
      <span class="hexagon-text"><strong>sat</strong></span>
    </div>

    <div class="hexagon_60px">
      <span class="hexagon-text"><strong>sun</strong></span>
    </div>

  </div>


</div>
