<div class="d-flex justify-content-center row">
  <div class="search">
      <input type="text" class="search-input" placeholder="search ..." name="">
      <a href="#" class="search-icon">
          <i class="fa fa-search"></i>
      </a>
  </div>
</div>