<h1>This is our onboarding flow</h1>

<%= simple_form_for(:user, url: users_path, method: :get, html: { data: { controller: "onboarding", target: "onboarding.form" } }) do |f| %>
  <%= f.input :programming_languages, input_html: { name: "query" } %>
  <%= f.input :experience_level, collection: ["Beginner", "Intermediate", "Advanced"], prompt: "Select your experience level", input_html: { name: "experience_level" } %>
  <%= f.submit "Submit", data: { action: "click->onboarding#fill" } %>
<% end %>