<div style="display: flex; flex-direction: column; height: 100vh; padding:0;">
  <div class="row" style="display: flex; flex: 1; width: 100%; margin:0;">
    <!-- Yellow background part -->
    <div class="col" style="flex: 1; padding: 10px; background-color: #fee53f;">
      <div class="container" style="margin: 20px 200px;">
        <!-- Placeholder button -->
        <button style="background-color:black; padding:1px 20px; color:white; border-radius:30px; font-size:17px;">< back</button>

        <div class="headline">
        <h1>Hi there,</h1>

        <span class="code-solo">done struggling <br>
        to code <br>
        <b>solo?</b></span>

        <p>We don't make it easier to become a Software Developer, but you don't have to be alone while doing so.</p>
        </div>

      </div>
    </div>

    <!-- White background part -->
    <div class="col" style="flex: 1; padding: 10px; background-color: #fff;">
      <div class="container" style="margin-top:150px; width: 80%; max-width: 280px; margin: 150px auto 0 auto;">

      </div>
    </div>
  </div>
</div>
