<div id="landing-page">
  <div class="flex-container">
    <div class="row">
      <!-- Yellow background part -->
      <div class="col yellow-bg">
        <div class="">
          <div id="landing-headline">
            <p class="first-line">Hi there,</p>
            <p class="code-solo">done <br> struggling <br> to code <br> <span class="solo-word">solo?</span></p>
            <p>We don't make it easier <br> to become a Software Developer, <br> but you don't have to be alone while doing so.</p>
            <!-- Placeholder button -->
            <button>find out more >>></button>
          </div>
        </div>
      </div>
      <!-- White background part -->
      <div class="col white-bg">
        <div class="">
          <!-- Content for the white background part -->
        </div>
      </div>
    </div>
  </div>
