<div class="pt-5 bg-color-light-yellow">
  <div class="container" data-controller="search">
    <div class="users-index-text">
      <h1 class="">find your buddy</h1>
      <p class="my-0 users-index-text">Search for a skill or area you are working on.</p>
    </div>

    <div class="container">
      <%= render 'users/search' %>
    </div>

    <div data-search-target="results" class="mb-5">
      <%= render 'users/results' %>
    </div>
  </div>
</div>
