.availability-container {
  background-color: $yellow-brand;
  border-radius: 14px;
  min-height: 300px;
  max-width: 650px;
  justify-content: center;
}

.availability-header {
  font-family: $headers-font;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.all-hexagons {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}
