.weekdays-row {
  padding: 0;
}

.button-day {
  width: 145px; /* Set a fixed width to ensure the button is square */
  height: 145px; /* Set height equal to width */
  border-radius: 24px;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
  display: inline-block; /* Ensure buttons are inline */
}

.button-day-text {
  font-size: 18px;
  color: $dark-brand;
  position: absolute;
  top: 14px; /* Align text to the top */
  left: 18px; /* Align text to the left */
}

.cross-icon {
  color: $dark-brand; /* Use your desired color */
  position: absolute;
  right: 15px; /* Adjust position to half outside the button */
  bottom: 15px; /* Adjust position to half outside the button */
  font-size: 24px; /* Adjust size as needed */
}
