.section-container-availability {
  background-color: white;
  border-radius: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 30px;
  margin-right: 210px;
  margin-left: 100px;
  margin-bottom: 80px;
}

.weekdays-row {
  padding: 0;
  margin-right: 210px;
  margin-left: 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.button-day {
  width: 110px;
  height: 110px;
  border-radius: 14px;
  background-color: white;
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Adjust duration and timing function if needed */

  &:hover {
    background-color: $dark-brand;
    color: white;
    transform: translateY(-4px);
  }
}

.button-day.active .cross-icon {
  display: block;
}

.button-day.active {
  background-color: $dark-brand;
  transform: translateY(-4px);
}

.button-day.active .button-day-text {
  color: white;
}

.button-day-text {
  font-size: 16px;
  color: $dark-brand;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-day:hover .button-day-text {
  color: white;
}

.cross-icon {
  display: none;
  color: $yellow-brand;
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 24px;

  &:hover {
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adjust duration and timing function if needed */
  }
}

.custom-availability-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  display: none;
}

.custom-availability-header-slot-rows {
  display: flex;
  padding-bottom: 8px;
  margin-top: -10px;
  margin-left: 8px;
  color: $dark-brand;
  font-family: $body-font;
  font-size: 16px;
}

.custom-availability-header {
  display: flex;
  padding-bottom: 8px;
  margin-top: -10px;
  // margin-left: 0px;
  color: $dark-brand;
  font-family: $body-font;
  font-size: 16px;
}

.custom-availability-cell .custom-icons {
  justify-content: end;
}
.custom-button-icon-availability {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $dark-brand;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Adjust duration and timing function if needed */

  &:hover {
    background-color: white;
    color: $dark-brand;
    border: 2px solid $dark-brand;
  }
}

.custom-availability-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding-top: 10px;
  // padding-bottom: 10px;
  font-size: 16px;
  background-color: $yellow-brand;
  margin-bottom: 15px;
  border-radius: 27.5px;
}

.custom-availability-cell {
  // flex: 1;
  padding-left: 30px;
  padding-right: 0px;
  font-family: $body-font;
}

.custom-availability-cell-text {
  margin-bottom: 0px;
}

.custom-availability-row .custom-availability-cell input[type="time"] {
  flex: 1;
  padding: 10px;
  margin-bottom: 8px;
  margin-left: 20px; /* Add margins to adjust position */
  margin-right: 20px;
  border: 0px;
  cursor: pointer;
}

.custom-availability-header-text {
  flex: 1;
  padding: 5px 30px;
  padding-bottom: 5px;
  font-family: $body-font;
  text-align: center;
}

#start-time-header-text {
  margin-right: 20px;
  margin-left: 20px;
}

#end-time-header-text {
  margin-right: 20px;
  margin-left: 20px;
}

.no-time-slots-created-yet {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -20px;
  justify-content: center;
}

.no-time-slots-yet-image {
  margin-right: 80px;
}

.message-no-time-slots-yet {
  font-family: $headers-font;
  margin-bottom: 20px;
  margin-top: 20px;
  color: $dark-brand;
}

.create-time-slot-button {
  background-color: $yellow-brand;
  font-family: $body-font;
  width: 300px;
  color: $dark-brand;
  height: 48px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 24px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adjust duration and timing function if needed */

  &:hover {
    background-color: $dark-brand;
    color: white;
  }
}

.save-timeslot-button {
  background-color: $yellow-brand;
  font-family: $body-font;
  width: 300px;
  color: $dark-brand;
  height: 48px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 24px;
  margin-left: 300px;
  margin-top: 15px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adjust duration and timing function if needed */

  &:hover {
    background-color: $dark-brand;
    color: white;
  }
}

.custom-form-title {
  font-size: 20px;
  font-family: $headers-font;
  color: $dark-brand;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 100px;
  padding-left: 5px;
}

.custom-form-title-slots {
  font-size: 20px;
  font-family: $headers-font;
  color: $dark-brand;
  margin-bottom: 30px;
  padding-left: 5px;
}

// #start_time {
//   margin-left: 300px;
// }

.hidden {
  display: none;
}

.overview-title {
  color: $dark-brand;
}

.overview-title-thin {
  color: $dark-brand;
}
