.section-container {
  background-color: white;
  border-radius: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-top: 30px;
  margin-right: 117px;
  margin-bottom: 80px;
}

.overview-subtitle {
  font-size: 20px;
  font-family: $headers-font;
  margin-bottom: 10px;
}

.custom-margin-top {
  margin-top: 20px;
}

.custom-appointments-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-appointments-header {
  display: flex;
  padding-bottom: 8px;
  margin-top: -10px;
  margin-bottom: 10px;
  color: $dark-brand;
  font-family: $body-font;
  font-size: 16px;
}

.custom-appointment-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: $yellow-brand;
  margin-bottom: 13px;
  height: 40px;
  border-radius: 30px;

  &:hover {
    background-color: $yellow-brand-light;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Adjust duration and timing function if needed */
  }
}

.custom-appointments-cell {
  flex: 1;
  font-family: $body-font;
}

.date {
  padding-left: 30px;
  max-width: 200px;
}

.time {
  min-width: 250px;
}

.message {
  min-width: 220px;
}

.custom-appointments-cell-negative-message {
  color: $dark-brand;
  font-size: 20px;
}

.custom-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  object-position: center;
}

.custom-icons {
  display: flex;
  justify-content: end;
  // margin-right: 30px;
  gap: 30px;
}

.custom-icon-link {
  color: $dark-brand;
  text-decoration: none;
}

.custom-button-icon {
  color: white;
  background-color: $dark-brand;
  border-radius: 50%;
  font-size: 15px;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Adjust duration and timing function if needed */

  &:hover {
    background-color: white;
    color: $dark-brand;
    border: 2px solid $dark-brand;
  }
}
