.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 75px;
  border-bottom: 2px solid black;

  .navbar-collapse {
    flex-grow: 0;
    }

    .navbar-brand img {
      width: auto;
      }

      .nav-link {

        color: #000;

        &:hover {
          color: $purple;
          font-weight: bold;
          }

          &.active {
            color: $purple !important;
            font-weight: bold;
            }
            }
}

