@font-face {
  font-family: 'Franklin Gothic Book Regular';
  src: font-url('fonts/FranklinGothicBookRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Demi';
  src: font-url('fonts/FranklinGothicDemiRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: font-url('fonts/FranklinGothicHeavyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: font-url('fonts/FranklinGothicMediumRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
