@font-face {
  font-family: 'Franklin Gothic Book Regular';
  src: font-url('FranklinGothicBookRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Demi';
  src: font-url('FranklinGothicDemiRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Heavy';
  src: font-url('FranklinGothicHeavyRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: font-url('FranklinGothicMediumRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
